.field-label {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    width: 25%;
}

.field-input {
    padding-right: 5px;
    width: 15%;
}

.field-description {
    padding-right: 5px;
    width: 60%;
}

.trader-label {
    width: 110px;
    font-weight: bold;
    padding-right: 5px;
    text-align: right;
}

.trader-select {
    width: 150px;
}

.add-button {
    width: 80px;
}