<h1>Run Simulation</h1>

<h4>Select Information</h4>
<div >
    <label for='selectedStockList'>Stock List:</label>
    <select id='selectedStockList'  [(ngModel)]="selectedStockList">
        <option *ngFor="let stockList of stockLists" value="{{ stockList }}">{{ stockList }}</option>
    </select>
</div>

<div >
    <label for='selectedTrader'>Trader:</label>
    <select id='selectedTrader'  [(ngModel)]="selectedTrader">
        <option value='0'>-- SELECT --</option>
        <option *ngFor="let trader of traders" value="{{ trader.trader_id }}">{{ trader.name }}</option>
    </select>
</div>


<h4>Simulation Date Range</h4>
<div>
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" [(ngModel)]="tradeStartDate" required />
    <label class="pad10"> to </label>
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" [(ngModel)]="tradeEndDate" />
</div>

<h4>Details</h4>
<div>
    <label>Starting Cash:</label>
    <input type="number" min="10" [(ngModel)]="startingCash"/>
</div>

<div>
    <label>Description:</label>
    <input type="text" [(ngModel)]="description"/>
</div>

<button (click)="runSimulation()" [disabled]="running">Run Simulation</button>
<br>
<label>Status:</label> {{status}}