<h3 class="text-center">Capital Gains for {{ simulationTrader.name }}</h3>

<ngx-datatable class="bootstrap dtable" 
               [columnMode]="'flex'"
               [rows]="capitalGains"
               [loadingIndicator]="loadingIndicator"
               [headerHeight]="40"
               [footerHeight]="50"
               [limit]="40"
               [sorts]="[{prop: 'initial_purchase_date', dir: 'asc'}]"
               rowHeight="20px">
    <ngx-datatable-column name="Purchase Date" prop="initial_purchase_date" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['initial_purchase_date'] | date: 'yyyy-MM-dd' }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Sell Date" prop="sell_date" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['sell_date'] | date: 'yyyy-MM-dd' }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Symbol" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['symbol'] }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Qty" prop="quantity" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['quantity'] }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Cost Basis" prop="cost_basis" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['cost_basis'] | currency }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Proceeds" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['proceeds'] | currency }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Profit/Loss" prop="profit" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['profit'] | currency }}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Profit/Loss %" prop="profit_percent" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['profit_percent'] | percent }}
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>