
<div class="panel">
    <nav class="left-panel">
        <ul class="menu">
            <li [ngClass]="getClass(-1)" (click)="select(-1)">Summary</li>
            <ng-container *ngFor="let trader of simulationTraders" >
                <li [ngClass]="getClass(trader.simulation_trader_id)" (click)="select(trader.simulation_trader_id)">{{ trader.name }}</li>
                <ul class="menu" *ngIf="selected == trader.simulation_trader_id">
                    <li (click)="show('capital_gains')" [ngClass]="getScreenClass('capital_gains')">Capital Gains</li>
                    <li (click)="show('transactions')" [ngClass]="getScreenClass('transactions')">Transactions</li>
                </ul>
            </ng-container>
        </ul>
    </nav>
    <div class="right-panel">
        <app-summary *ngIf="selected == -1" [simulationTraders]="simulationTraders" [capitalGains]="capitalGains" [transactions]="transactions" [change]="change"></app-summary>
        <app-simulation-transactions *ngIf="selected != -1 && screen == 'transactions'" [simulationTrader]="selectedTrader" [transactions]="transactions.get(selectedTrader.simulation_trader_id)"></app-simulation-transactions>
        <app-simulation-capitalgains *ngIf="selected != -1 && screen == 'capital_gains'" [simulationTrader]="selectedTrader" [capitalGains]="capitalGains.get(selectedTrader.simulation_trader_id)"></app-simulation-capitalgains>
    </div>
</div>
