
<div class="panel">
    <div class="left-panel">
        <ul class="menu">
            <li [ngClass]="getClass(-1)" (click)="select(-1)">Summary</li>
            <ng-container *ngFor="let trader of simulationTraders" >
                <li [ngClass]="getParentClass(trader.simulation_trader_id)">
                    <div (click)="select(trader.simulation_trader_id)" [ngClass]="getClass(trader.simulation_trader_id)">{{ trader.name }}</div>
                    <div (click)="show('capital_gains')" [ngClass]="getScreenClass('capital_gains')">Capital Gains</div>
                    <div (click)="show('transactions')" [ngClass]="getScreenClass('transactions')">Transactions</div>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="right-panel">
        <app-summary *ngIf="selected == -1" [simulationTraders]="simulationTraders" [capitalGains]="capitalGains" [transactions]="transactions" [change]="change"></app-summary>
        <app-simulation-transactions *ngIf="selected != -1 && screen == 'transactions'" [simulationTrader]="selectedTrader" [transactions]="transactions[selectedTrader.simulation_trader_id]"></app-simulation-transactions>
        <app-simulation-capitalgains *ngIf="selected != -1 && screen == 'capital_gains'" [simulationTrader]="selectedTrader" [capitalGains]="capitalGains[selectedTrader.simulation_trader_id]"></app-simulation-capitalgains>
    </div>
</div>
