.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.panel {
  width: 100%;
}

.left-panel {
  display: inline-grid;
  width: 10%;
  vertical-align: top;
}

.right-panel {
  display: inline-grid;
  margin-left: 15px;
  width: 85%;
  vertical-align: top;
}

.menu {
  list-style: none;
  padding-inline-start: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  cursor: pointer;
}

.submenu {
  padding-left: 10px;
  border-bottom: 0px solid #4caf50;
  border-left: 3px solid transparent;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.menu-item {
  border-bottom: 1px solid #4caf50;
  border-left: 3px solid transparent;
}

.menu-item:hover {
  border-left: 3px solid #4caf50;
}

.submenu:hover {
  border-left: 3px solid #4caf50;
}

.selected-menu-item {
  background-color: #4caf4f20;
}

.trader-item .submenu {
  max-height: 10em;
  transition: max-height 0.7s;
  border-bottom: 1px solid #4caf50;
}