<h3>Transactions for {{ simulationTrader.name }}</h3>

<div class="simtable">
    <ngx-datatable
        class="bootstrap dtable"
        [columnMode]="'flex'"
        [rows]="transactions"
        [loadingIndicator]="loadingIndicator"
        [headerHeight]="40"
        [footerHeight]="50"
        [limit]="100"
        rowHeight="20px"
      >
      <ngx-datatable-column name="#" [flexGrow]="1" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_id'] }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Trade Date" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_date'] | date: 'yyyy-MM-dd' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Type" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_type'] }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Symbol" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['symbol'] }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Qty" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_quantity'] }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Price" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_price'] | currency }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Taxes" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_tax'] | currency }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Total" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['transaction_total'] | currency }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Cash Balance" [flexGrow]="2" [cellClass]="getCellClass">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row['balance']  | currency }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
</div>